@import "vars";
@import "global";
@import "fonts";

/********************************* HEADER STYLE ***************************************/

.header {
	&__top {
		&-inner {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 90px;
		}
	}
	&__text {
		margin-left: auto;
		margin-right: 50px;
		span {
			color: $red;
		}
	}
	&__btn {
		padding: 4px;
		width: 72px;
		border-radius: 4px;
		text-align: center;
		color: #fff;
		font-size: 12px;
		&-login {
			background-color: $green;
		}
		&-register {
			background-color: $red;
			margin-left: 7px;
		}
	}
	&__menu {
		background-color: $bg;
	}
}

.menu {
	display: flex;
	align-items: center;
	height: 60px;
	&__list {
		li {
			display: inline;
			& + li {
				margin-left: 30px;
			}
		}
	}
	a {
		color: #fff;
		font-size: 14px;
	}
}

/********************************* SEARCH STYLE ***************************************/

.search {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 533px;
	&__inner {
		padding: 155px 0 100px;
		color: #ffffff;
		text-align: center;
		&-title {
			margin-bottom: 10px;
			font-size: 48px;
			@include f700;
			line-height: 72px;
		}
		&-text {
			margin-bottom: 50px;
			font-size: 20px;
			@include f500;
			line-height: 20px;
		}
		&-form {
			max-width: 670px;
			margin: 0 auto;
			position: relative;
			input {
				display: block;
				width: 100%;
				box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
				border-radius: 4px;
				height: 56px;
				border: none;
				font-size: 14px;
				@include f500;
				padding-left: 25px;
				padding-right: 60px;
				&::placeholder {
					color: #90a4ae;
					letter-spacing: 1px;
				}
			}
		}
		button {
			position: absolute;
			border: none;
			background-color: transparent;
			right: 20px;
			top: 16px;
		}
	}
}

/********************************* PRODUCTS STYLE ***************************************/

.products {
	padding: 110px 0;
	background-color: $grey;
	&__inner {
		&-btn {
			text-align: center;
			margin-bottom: 60px;
			button {
				padding: 12px 21px;
				border: none;
				background-color: #fff;
				color: $bg;
				cursor: pointer;
				& + button {
					margin-left: 5px;
				}
				&.mixitup-control-active {
					background-color: $red;
					color: #fff;
				}
			}
		}
		&-box {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}
	}
	&__bottom-btn {
		text-align: center;
		button {
			margin: 45px 5px 0;
			box-shadow: 0 1px 3px 0 rgba(204, 216, 228, .75);
			border: none;
			background-color: #fff;
			color: $bg;
			padding: 20px 30px;
			cursor: pointer;
			&.mixitup-control-active {
				background-color: $red;
				color: #fff;
			}
		}
	}
}

.product__item {
	max-width: 442px;
	width: 100%;
	box-shadow: 0 1px 2px 0 rgba(205, 214, 222, .75);
	margin-bottom: 30px;
	&-img {
		min-height: 250px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		display: block;
	}
	&-content {
		display: flex;
		justify-content: space-between;
		padding: 10px 30px;
		align-items: center;
		min-height: 90px;
		@include f500;
		border-bottom: solid 1px #e7ecf2;
	}
	&-name {
		max-width: 310px;
	}
	&-title {
		color: $bg;
		font-size: 18px;
		display: block;
	}
	&-category {
		display: block;
		font-size: 14px;
		color: $green;
	}
	&-price {
		font-size: 20px;
		color: $bg;
		@include f700;
	}
	&-info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 70px;
		padding: 10px 30px;
	}
	&-author {
		display: flex;
		align-items: center;
		max-width: 245px;
		.avatar {
			width: 30px;
			height: 30px;
			border-radius: 50%;
			background-position: center;
			display: inline-block;
			background-repeat: no-repeat;
			background-size: cover;
			margin-right: 14px;
		}
		span {
			font-size: 14px;
			@include f500;
		}
	}
	&-star {
		span {
			font-size: 12px;
			color: $bg;
		}
	}
}

/********************************* PRODUCT-SLIDER STYLE ***************************************/

.product-slider {
	padding: 110px 0 120px;
	.slick-dots {
		margin-top: 50px;
		text-align: center;
		li {
			display: inline-block;
			margin-left: 3px;
			margin-right: 3px;
			&.slick-active {
				button {
					background-color: $green;
				}
			}
			button {
				border-radius: 50%;
				background-color: rgb(232, 232, 232);
				border: none;
				font-size: 0;
				width: 16px;
				height: 16px;
				cursor: pointer;
				outline: none;
			}
		}
	}
}

/********************************* ADVANTAGES STYLE ***************************************/

.advantages {
	background-color: $bg;
	padding: 110px 0;	
	&__title {
		color: #ffffff;
	}
	&__inner {
		display: flex;
		justify-content: space-between;
	}
	&__item {
		max-width: 370px;
		text-align: center;
		padding: 0 15px;
		&:hover {
			.advantages__item-images {
				background-color: $green;
				g {
					fill: #fff;
				}
			}
			.advantages__item-title {
				color: $green;
			}
		}
		&-images {
			width: 114px;
			height: 114px;
			background-color: #fff;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 auto 30px;
			transition: all .5s;
		}
		&-title {
			margin-bottom: 25px;
			color: #fff;
			font-size: 24px;
			@include f500;
			transition: all .5s;
		}
		&-text {
			font-size: 15px;
		}
	}
}


.icosvg-1 {
	svg {
		width: 70px;
	}
}
.icosvg-2 {
	svg {
		width: 70px;
	}
}
.icosvg-3 {
	svg {
		width: 86px;
	}
}

/********************************* AUTHOR STYLE ***************************************/

.author {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 750px;
	display: flex;
	justify-content: center;
	align-items: center;
	&__box {
		max-width: 650px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		min-height: 215px;
		background-color: $green;
	}
	&__title {
		font-size: 30px;
		line-height: 30px;
		color: #ffffff;
		margin-right: 45px;
		max-width: 260px;
		span {
			@include f700;
		}
	}
	&__link {
		font-size: 18px;
		line-height: 36px;
		padding: 14px 40px;
		background-color: #fff;
	}
}

/********************************* TUTORIAL STYLE ***************************************/

.tutorial {
  padding: 70px 0 120px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    max-width: 370px;
    width: 100%;
    &-images {
      min-height: 270px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    &-title {
      background-color: #f8f8f8;
      text-align: center;
      font-size: 24px;
      @include f700;
      padding: 30px 10px;
      color: $bg;
    }
  }
}

/********************************* FOOTER STYLE ***************************************/

.footer {
  background-color: $bg;
  &__copy {
    border-top: 1px solid #424d53;
    &-text {
      text-align: center;
      color: #919699;
      font-size: 15px;
      padding: 25px 0 25px;
    }
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 100px 0 80px;
  }
  &__col {
    max-width: 270px;
    &-title {
      font-size: 22px;
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      color: #fff;
      padding-bottom: 30px;
      margin-bottom: 30px;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 2px;
        width: 51px;
        height: 3px;
        background-color: $green;
      }
    }
    &-text {
      color: #b7c3c8;
      margin-bottom: 30px;
    }
    &-menu {
      max-width: 220px;
    }
    &-list {
      a {
        margin-bottom: 13px;
        color: #b7c3c8;
        padding-left: 22px;
        position: relative;
        &::before {
          content: '\f054';
          position: absolute;
          color: $green;
          left: 0;
          font-size: 12px;
          font-family: 'icomoon', sans-serif;
        }
      }
    }
  }
  &__info {
    margin-top: 18px;
    font-weight: 500;
    color: #ffffff;
    padding-left: 30px;
    position: relative;
    &::before {
      content: '\f041';
      font-family: 'icomoon', sans-serif;
      position: absolute;
      color: $green;
      font-size: 18px;
      left: 0;

    }
    &-phone {
      &::before {
        content: '\f095';
      }
    }
  }
	&__social-link {
		margin-bottom: 33px;
		li {
			display: inline-block;
			& + li {
				margin-left: 7px;
			}
			a {
				width: 28px;
				height: 28px;
				background-image: url(../images/css_sprites.png);
				&.link-twitter {
					background-position: -28px 0;
				}
				&.youtube {
					background-position: 0 -28px;
				}
				&.link-pinterest {
					background-position: -28px -28px;
				}
				&.link-linkedin {
					background-position: -56px 0;
				}
			}
		}
	}
	&__form {
		position: relative;
		&-title {
			margin-bottom: 15px;
			color: #ffffff;
			font-size: 20px;
		}
		input {
			background-color: #2f3c43;
			border: none;
			display: block;
			width: 100%;
			height: 40px;
			color: #fff;
			font-size: 14px;
			padding-left: 13px;
			padding-right: 50px;
			&::placeholder {
				color: #697378;
			}
		}
		button {
			bottom: 0;
			right: 0;
			background-color: $green;
			border: none;
			height: 40px;
			width: 43px;
			cursor: pointer;
			position: absolute;
			&::before {
				content: '\f124';
				position: absolute;
				font-family: 'icomoon', sans-serif;
				color: #ffffff;
				font-size: 20px;
				top: 9px;
				left: 13px;
			}
		}
	}
}


















